body:before {
	background-attachment: scroll;
	content: '';
	display: block;
	height: var(--background-height);
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 100vw;
	z-index: 0;
	background-image: linear-gradient(to top, rgba(0,0,0,0.902), rgba(0,0,0,0.902)), url('static/bg.mp4.jpg');
	background-position: 0% 0%, center;
	background-repeat: repeat, no-repeat;
	background-size: auto, cover;
}

body {
	overflow: auto !important;
}

body:after {
	display: none !important;
}

#main > .inner {
	opacity: 1.0 !important;
}

#main {
	opacity: 1.0 !important;
	transform: none !important;
	transition: none !important;
	filter: none !important;
}

#main > .inner > section {
	opacity: 1.0 !important;
	transform: none !important;
	transition: none !important;
	filter: none !important;
}