<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automatic Speech Sentiment Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <header>
        <h1>Upload your audio file</h1>
    </header>
    <main>
        <form method="POST" action="/" enctype="multipart/form-data">
            <input type="file" id="file" name="file">
            <textarea id="text" name="text"></textarea>
            <input type="submit" value="Transcribe">
        </form>
        <audio id="audio" controls {% if audio_file %}src="{{ url_for('static', filename=audio_file) }}"{% else %}style="display: none;"{% endif %}></audio>
        {% if transcript %}
            <section>
                <h2>Transcription:</h2>
                <p>{{ transcript }}</p>
            </section>
        {% endif %}
        {% if sentiment_data %}
            <section>
                <h2>Sentiment Analysis:</h2>
                <p>Document sentiment score: {{ sentiment_data.document_sentiment.score }}</p>
                <p>Document sentiment magnitude: {{ sentiment_data.document_sentiment.magnitude }}</p>
                {% for sentence in sentiment_data.sentences %}
                    <p>Sentence text: {{ sentence.text.content }}</p>
                    <p>Sentence sentiment score: {{ sentence.sentiment.score }}</p>
                    <p>Sentence sentiment magnitude: {{ sentence.sentiment.magnitude }}</p>
                {% endfor %}
                <p>Language of the text: {{ sentiment_data.language_code }}</p>
            </section>
        {% endif %}
    </main>
    <script>
        var fileInput = document.getElementById('file');
        var audio = document.getElementById('audio');
        var textArea = document.getElementById('text');

        fileInput.addEventListener('change', function() {
            if (this.files.length > 0) {
                audio.style.display = 'block';  // Show the audio controls
                audio.src = URL.createObjectURL(this.files[0]);
                audio.load();
            } else {
                audio.style.display = 'none';  // Hide the audio controls
            }
        });

        textArea.addEventListener('keydown', function(event) {
            if (event.shiftKey && event.key === "Enter") {
                var cursorPos = textArea.selectionStart;
                var textBefore = textArea.value.substring(0,  cursorPos );
                var textAfter  = textArea.value.substring( cursorPos, textArea.value.length );
                textArea.value = textBefore + "\n" + textAfter;
                event.stopPropagation();
                event.preventDefault();
            }
        });
    </script>
</body>
</html>